.navbar {
    background-color: #ffeffc;
    align-items: center;
    padding:5px 15px;
    display: flex;
    overflow:visible;
    gap: 5px;
}
.navbar a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
}
.navbar .left-nav-item span {
    position: relative;
    z-index:2;
}
/* ///// */
.navbar .left-nav-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100;
    height: 100%;
    background-color: #11f3ac;
    transition: width cubic-bezier(0.6, -0.28, 0.735, 0.045), left cubic-bezier(0.6, 0.04, 0.98, 0.335) ;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.navbar .left-nav-item:hover::before {
    width: 200%;
    left: 0;
}

.navbar .left-nav-item:hover span {
    color: #a71a1a;
}

.navbar .left-nav-item{
  font: normal normal normal 12px Poppins;
}
.navbar .left-nav-item:hover {
    color: #e82121;
}
.navbar .left-nav-item:hover svg path {
    fill: #f30f0f;
}

.right-nav-item {
    margin-left: auto;
    font: normal normal 600 20px/40px Poppins;
}
.right-nav-item:hover {
  color:#008159;
}
.project-button{
  display:ruby-base;
  align-items:normal;
  gap: 60px;
  border:none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
}
.add-project{
  background-color: #05f6aa;
  color:#e02121;
  margin:20px 10px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.cardes{
  display: flex;
  gap: 50px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(235, 230, 230, 0.2);
  transition: 0.9s;
  width: 50%;
  padding: 15px;
  border-radius: 20px;
}
.card img{
  border-radius: 15px;
}
.card .card-text{
  text-align: center;
  font: normal normal 600 15px/32px Poppins;
  letter-spacing: 0px;
  color: #515151;
}
.card .edit{
  background-color: #9d9090;
  padding: 10px 20px;
  width: 100%;
  justify-content: center;
  color:#fff;
  margin-bottom: 15px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-bottom-buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}
.card-bottom-buttons button{
  display: inline-flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: #fff;
  border-radius: 20px;
  padding:10px 0;
  font: normal normal normal 14px Poppins;
  cursor: pointer;
}
.manage{
  border: 1px solid #515151;
  color:#515151;
}
/* >>>>>>>>>>>>>>>>*/

.navbar .icon {
  display: none;
}

.delete{
  border: 1px solid #e40f0f;
  color:#df1717;;
}
/*>>>>>>>>>>>>>>>*/


@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }

  .cardes{
    display: block;
  }
  .card{
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    display: block;
    position: relative;

  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    display: block;
    
  }
}